@{
    ViewBag.Title = "Feed";
}
@section content
{
    <link href="~/Content/DataTables-1.9.4/docs/media/css/DT_bootstrap.css" rel="stylesheet" />
}

<div style="color:red;">
    See Get: FeedManagementController.Get();  <br/>
    http://localhost:2853/API/FeedManagement 
</div>



<h2>Feed</h2>

<div>
   <table cellpadding="0" cellspacing="0" border="0" class="bordered-table zebra-striped" id="example">
	<thead>
		<tr>
		    <th>Photos</th>
            <th>Operation</th>
			<th>Id</th>
		    <th>Title</th>
            <th>Entries</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
	    <tr class="odd">
	        <td><a href="Feed/1373428650/Photos/">Photos</a></td>
	        <td>Update</td>
	        <td>1373428650</td>
	        <td>Flickr Push Feed</td>
	        <td class="center">4</td>
	        <td class="center">7/10/2013 3:57:30 AM</td>
	    </tr>

	    <tr class="even">
	        <td><a href="Feed/1373428650/Photos/">Photos</a></td>
	        <td>Update</td>
	        <td>137342832</td>
	        <td>Flickr Push Feed</td>
	        <td class="center">7</td>
	        <td class="center">2/6/2013 8:57:30 AM</td>
	    </tr>
        
	    <tr class="odd">
	        <td><a href="Feed/1373428650/Photos/">Photos</a></td>
	        <td>Update</td>
	        <td>137342865</td>
	        <td>Flickr Push Feed</td>
	        <td class="center">8</td>
	        <td class="center">2/10/2013 3:57:30 AM</td>
	    </tr>
        
	  	    <tr class="even">
	        <td><a href="Feed/1373428650/Photos/">Photos</a></td>
	        <td>Update</td>
	        <td>137342832</td>
	        <td>Flickr Push Feed</td>
	        <td class="center">7</td>
	        <td class="center">2/6/2013 8:57:30 AM</td>
	    </tr
        
        
        
        

	</tbody>
</table> 
</div>


@section scripts
{
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables-1.9.4/docs/media/js/DT_bootstrap.js"></script>
}

