@{
    ViewBag.Title = "Feed";
}

    <link href="~/Content/DataTables-1.9.4/docs/media/css/DT_bootstrap.css" rel="stylesheet" />



<h2>Feed</h2>

<div>
   <table class="table-striped table" id="feed">
  </table> 
</div>
 

<div class="well span8">
    <div class="row">
        <div style="color:red;" class="span8">
            <ul>
                <li>Click of Photos Should Route to /Feed/1873428602/Photos <br/>
                    Route: /Feed/<b>{FeedId}</b>/Photos <br />
                    WebAPI JSON: http://localhost:2853/api/FeedPhoto/344334343 
                </li>
                <li>
                    Implement WebAPI JSON Method into HTML Wireframe:<br/>
                    /Home/Photos Note: Pass FeedId - Server Side is Hardcoded Every Page will be the Same Results 
                </li>  
                

            </ul>
        </div>
    </div>  
</div>







@section scripts
{
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables-1.9.4/docs/media/js/DT_bootstrap.js"></script>
    <script src="~/Scripts/customizeDatatable.js"></script>
}

