@{
    ViewBag.Title = "Feed";
}
@section content
{
    <link href="~/Content/DataTables-1.9.4/docs/media/css/DT_bootstrap.css" rel="stylesheet" />
}

<div style="color:red;">

</div>



<h2>Feed</h2>

<div>
   <table class="bordered-table table-striped table" id="feed">
  </table> 
</div>
 

@section scripts
{
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables-1.9.4/docs/media/js/DT_bootstrap.js"></script>
    <script src="~/Scripts/customizeDatatable.js"></script>
}

