@{
    ViewBag.Title = "Flickr Atom/RSS";
}

<form class="well span8">
  <div class="row">
      <div class="span3">
          <label>URL</label>
          <input id="url" type="text" class="span3" name="url" placeholder="URL" value="/api/FlickrService" />
          
          <label>Content Type</label>
          <input type="text" class="span3" placeholder="Content Type">

          <label>Action</label>
          <select class="span3" name="method" id="method">
              <option value="POST">Post</option>
              <option value="GET">Get</option>
          </select>
      </div>    
    <div class="span5">
       <label>Request Body</label> 
        <textarea id="content" class="input-xlarge span5" rows="10"></textarea>
        <div class="btn-group pull-right">
            <input type="button" id="submit" class="btn btn-primary" value="Send" /> 
            <input type="button" id="reset"  class="btn btn-primary" value="Reset" />   
        </div>
    </div>    

</div>
</form>

<div class="well span8">
    <div class="row">
      <div class="span8">
         Status:<span id="status"></span>
    </div>
    </div>  
</div>

<div class="well span8" style="color: red;">
    <pre>
        XML 
       - Remove namespace from Id urn:flickr:feed:1373428650 => 1373428650
       Output
         Get should return XML 
       Documentation
        Create Class Diagram =>  FlickrAtom.cd (Service Project)
    </pre> 
</div>


@section scripts
{
    <script type="text/javascript">
        $("#submit").bind("click", function () {
            $("#response").text("Loading...");
            $.ajax({
                url: $("#url").val(),
                type: $("#method").val(),
                contentType: "text/xml",
                data: $("#content").val(),
                success: function (data, textStatus, xhr) {
                    $("#status").text(xhr.status);
                }
            });
        });
        
        $("#reset").bind("click", function () {
            $('#content').val('');
            $('#status').text('');
        });
    </script>
}

