@{
    ViewBag.Title = "Photos";
}


<h2>Photos</h2>




<div>
    
    <div>
       <div>
        <div style="float: left;">
            <img src="http://farm3.staticflickr.com/2873/9375724635_33e3194cc6_s.jpg"/>      
        </div>
        <div style="float: left; margin-left: 10px;">
            <div>
                <span style="padding-right: 10px;">Title</span><span>Orly Genger - Red</span>   
            </div>
            <div>
                <span style="padding-right: 10px;">Photo Id</span><span>9375724635</span>  
            </div>
            <div>
                <span style="padding-right: 10px;">Updated</span><span>2013-07-10T04:00:31Z</span>  
            </div> 
            <div>
                <span style="padding-right: 10px;">Date Taken</span><span>2013-04-21T17:20:12-08:00</span>  
            </div> 
        </div>
        <div style="float: left; margin-left: 50px;">
            <div>
               <span style="padding-right: 10px;">Name</span><span>SPS101</span>     
            </div>
            <div>
                <span style="padding-right: 10px;">Author URL</span><span>http://www.flickr.com/people/stuartshay/</span>     
            </div>
            <div style="margin-top:20px;margin-right: 10px;">
               <span style="padding-right: 10px;">Photo URL</span><span>http://www.flickr.com/photos/stuartshay/9375724635/</span>                  
            </div>
        </div>
       </div>    
       <div style="clear: both;"/>
       <div style="background-color: gainsboro;">
           
           @* <update type="created" />
            <update type="tags" />
            <category term="nycparks:M052=961" scheme="http://www.flickr.com/photos/tags/" />*@
            <span>Update Type:</span><span>Created, Tags</span>
            <span>Category:</span><span>nycparks:M052=961</span>
        </div>
    </div>
  
    <div>
           
        
    </div>   


</div>




@*
<photo>
    <title>DSC01698</title>
    <id>9251064553</id>
    <updated>2013-07-10T04:00:31Z</updated>
    
    <update type="created" />
    <update type="tags" />
    
     <category term="nycparks:M052=961" scheme="http://www.flickr.com/photos/tags/" />


    <date_taken>2013-04-21T17:20:12-08:00</date_taken>
     <author>
       <name>SPS101</name>
       <uri>http://www.flickr.com/people/stuartshay/</uri>
     </author>    
  </photo>
  
  <photo>
     Include 3-4 Photos in the Mockup List 
    (Same Properties as above)
  </photo>
  <photo>
       Include 3-4 Photos in the Mockup
    (Same Properties as above)
  </photo>
   <photo>
       Include 3-4 Photos in the Mockup
    (Same Properties as above)
  </photo>
*@


