<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet"/>
  </configSections>

  <connectionStrings>
    <add name="RavenDB" connectionString="Url = http://localhost:8080;DefaultDatabase=FlickrFeed;" />
  </connectionStrings>

  <flickrNet apiKey="9553173ca1a819c3afcea61bd6e288cd" secret="75a03c6bc1b8811d" token="72157633173305755-800995ae247dc796" cacheDisabled="true"></flickrNet>

</configuration>