<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet"/>
  </configSections>

  <flickrNet apiKey="2126f9046b476f2bb5372551475496a2" secret="ccea55b03831e32e" cacheDisabled="true"></flickrNet>

</configuration>